@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .blog-view-div p {
    @apply text-lg;
  }
  .blog-view-div ul {
    @apply list-disc;
  }
  .blog-view-div ul > li > ul {
    margin-left: 15px;
    list-style-type: circle;
  }
  .blog-view-div ul > li > ul > li > ul {
    margin-left: 30px;
    list-style-type: square;
  }
  .blog-view-div h2 {
    @apply text-3xl mt-7 mb-3 hover:dark:text-pink-300 hover:text-pink-700;
  }
  .blog-view-div h1 {
    @apply text-5xl mt-7 mb-3 hover:dark:text-pink-300 hover:text-pink-700;
  }
  .blog-view-div li {
    @apply text-lg;
  }
  .blog-view-div code {
    @apply font-bold bg-zinc-200 dark:bg-zinc-700 rounded-md my-4 block w-fit py-2 px-4;
  }
  .blog-view-div blockquote {
    @apply p-4 bg-opacity-20 bg-pink-500 border-4 border-pink-800;
  }
  .blog-view-div .katex {
    @apply text-xl;
  }
  .blog-view-div .katex-display-false {
    @apply inline-block text-xl;
  }
  .blog-view-div .katex-display-true {
    @apply block my-4 text-3xl;
  }
}

/*
.blog-view-div p {
  color: green;
}
*/
