@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .blog-view-div p {
    @apply text-lg;
  }
  .blog-view-div ul {
    @apply list-disc;
  }
  .blog-view-div li:has(input[type="checkbox"]) {
    @apply list-none;
  }
  .blog-view-div li input[type="checkbox"] {
    @apply dark:accent-pink-300 accent-pink-700;
  }
  .blog-view-div ul > li > ul {
    margin-left: 15px;
    list-style-type: circle;
  }
  .blog-view-div ul > li > ul > li > ul {
    margin-left: 30px;
    list-style-type: square;
  }
  .blog-view-div h2 {
    @apply text-2xl md:text-3xl mt-7 mb-3 hover:dark:text-pink-300 hover:text-pink-700 cursor-pointer;
  }
  .blog-view-div h1 {
    @apply text-3xl md:text-5xl mt-7 mb-3 hover:dark:text-pink-300 hover:text-pink-700;
  }

  .blog-view-div h2:hover:before {
	content: '# ';
  }

  .blog-view-div li {
    @apply text-lg;
  }

  .blog-view-div code {
    @apply font-bold bg-zinc-200 dark:bg-zinc-700 rounded-md my-4 block w-full md:w-fit py-2 px-4 overflow-scroll md:overflow-auto;
  }

  .blog-view-div .hljs {
    @apply dark:text-zinc-100 text-zinc-900;
  }
  .blog-view-div .hljs-tag,
  .blog-view-div .hljs-name {
    @apply dark:text-pink-400 text-pink-600;
  }
  .blog-view-div .hljs-attr {
    @apply dark:text-slate-300 text-slate-700;
  }
  .blog-view-div .hljs-string {
    @apply dark:text-orange-400 text-orange-700;
  }
  .blog-view-div .function_, .blog-view-div .class_  {
	  @apply dark:text-emerald-400 text-emerald-600;
  }
  .blog-view-div .hljs-variable {
	  @apply text-pink-700;
  }
  .blog-view-div .hljs-keyword {
	  @apply dark:text-amber-400 text-amber-600;
  }

  .blog-view-div blockquote {
    @apply p-4 my-8 bg-opacity-20 bg-pink-500 border-4 border-pink-800;
  }
  .blog-view-div .katex {
    @apply text-xl md:overflow-clip overflow-scroll;
  }
  .blog-view-div .katex-display-false {
    @apply inline-block text-xl;
  }
  .blog-view-div .katex-display-true {
    @apply block my-4 text-3xl;
  }
}

/*
.blog-view-div p {
  color: green;
}
*/
